@import url(https://fonts.googleapis.com/css?family=Indie+Flower: 400, 600);

body {
	background-color: #B0CBE8
}
table {
	width: 80%;
	position: relative;
	left: 70px;
}
td {
	text-align: left;
	width: 150px;
}
a {
	font-weight: 400;
	font-family: 'Indie Flower', cursive;
	color: #47535F;
	text-decoration: none;
}
a:hover {
	color: #000099;
}
h1 {
	font-weight: 600;
	font-size: 500%;
	font-family: 'Indie Flower', cursive;
	color: #384257;
	text-align: center;
	margin: 0;
}
.body_text {
	font-weight: 400;
	font-size: 200%;
	font-family: 'Indie Flower', cursive;
	text-align: center;	
	color: #384257;
}
.flash_game {
	text-align: center;
}
.kick_cover {
	background: #ecd3fd url('http://i.imgur.com/9BOuYE7.gif') no-repeat fixed center center;
	}
